<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Welcome to Login Page</h1>
    <p>Please enter your name and password</p>
    <form action="/users/login" method="POST">
        <label for="">email</label>
        <input type="text" name="email">

        <label for="">password</label>
        <input type="text" name="password">

        <input type="submit" value="login">
    </form>
</body>
</html>